* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: black;
}

/* Header and nav bar starts here / should be the same head nav on all pages */

header {
    background-color: #333;
    /* Placeholder */
    color: #fff;
    /* placeholder color ** note to change ** */
    padding: 36px 146px;
    /* note to change this as they are only placeholder */
    text-align: center;
}

/* CSS for navigation */
nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.booking-container {
    padding: 22px 75px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
    /* Adjust spacing between menu items */
}

nav a {
    color: #fff;
    /* Change text color as needed */
    text-decoration: none;
    font-size: 18px;
    /* Adjust font size as needed */
}

nav a:hover {
    text-decoration: underline;
    /* Add underline on hover */
}

/* All title and p classes are in one place - from here*/
h1 {
    color: white;
    text-align: center;
}

.name-group-title {
    color: white;
    align-self: flex-start;
}

.time-title {
    color: white;
    flex-direction: left;
    margin-bottom: 10px;
}

.phone-title {
    color: white;
    flex-direction: left;
}

.clock-colon {
    color: white;
    padding: 10px;
}

.mail-title {
    color: white;
}

.request-title {
    color: white;
}

.checklist-title {
    color: black;
}

/* Titles and p ends here*/

/* Main sections content starts here */
.booking-form {
    max-width: 100%;
    margin: 10%;
    display: column;
    align-items: center;
}

/* added these as own class, trying to get them side by side setup*/
.name-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.name-inputs {
    display: flex;
    align-self: flex-start;
    /* Center align children horizontally */
}

.time-date-form {
    display: flex;
}

.phone-form {
    display: flex;
}

.mail-form {
    display: flex;
}

.name-group label {
    margin-bottom: 8px;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

.form-checklist {
    background-color: white;
    display: flex;
}

.time-txt {
    color: white;
}

button {
    /* submit button for the form*/
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    font-size: 16px;
    display: block;
    border-radius: 8%;
}

button:hover {
    background-color: #2980b9;
}

/* Main content ends here / Footer content starts here */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 36px 146px;
    position: sticky;
    bottom: 0;
    width: 100%;
}
