/* body */
.carousel {
    position: relative;
    overflow: hidden;
    height: 60vh;
}

.center-this {
    display: flex;
    justify-content: center;
}

.slider {
    display: flex;
    transition: transform 0.5s ease;
}

/* Review-cards */
.review-card {
    display: flex;
    align-items: center;
    border: 1px solid #FFB24B;
    border-radius: 16px;
    margin: 20px;
    width: 365px;
    height: 214px;
}

.person-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-top-left-radius: 16px;
    padding-bottom: 8px;
    border-bottom-left-radius: 16px;
}

.person-image {
    margin-bottom: 10px;
}

.person-image img {
    width: 100px;
    height: 100px;
}

.review-content {
    background-color: black;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    padding: 5px;  
}

.review-text {
    font-size: 16px;
    margin-bottom: 10px;
    color: white;
    margin-left: 16px;
}

.rating {
    font-size: 18px;
}

.star {
    color: gold;
}

.slider img {
    margin-right: 16px;
    width: 100px;
    height: 150px;
    margin: 16px 16px 0 16px;
}

.controls {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

button {
        display: flex;
        padding: 4px 16px 4px 16px;
        justify-content: center;
        align-items: center;
        font-family: "Playfair Display", sans-serif;
        width: 100px;
        height: 50px;
        border-radius: 50px;
        border: 1px solid white;
        background-color: transparent;
        color: white;
        cursor: pointer;
        margin: 10px;
        transition: 0.2s ease;
        border: 1px solid #FFB24B;
        color: #fff;
        box-shadow: 0 0 5px 0 #FFB24B;
}

.prev {
    margin-right: 10px;
    width: 50px;
    color: #FFB24B;
}

.next {
    margin-left: 10px;
    width: 50px;
    color: #FFB24B;
}

/* form */
form {
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3 {
    color: #FFB24B;
    margin-bottom: 20px;
    font-family: "Playfair Display", sans-serif;
}

.form-container {
    display: flex;
}

.form-group {
    margin-bottom: 5px;
}

.form-group-rating {
    margin-right: 230px;
}

.form-input {
    display: flex;
    flex-direction: column;
    padding-left: 16px;
}

label {
    color: #fff;
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 16px;
    margin-bottom: 5px;
}

input[type="radio"] {
    display: none;
}

label[for^="star"] {
    float: right;
    color: #ccc;
    font-size: 20px;
    padding: 5px;
}

input[type="radio"]:checked ~ label[for^="star"] {
    color: #ffc107;
}

input::placeholder {
    display: flex;
    align-items: center;
}

textarea {
    height: 100px;
    width: 314px;
}
